@font-face{
    font-family: [Facon];
    src: url(../../facon/Facon.otf);
}
main{
    font-size: 20px;
    font-family: Facon;
    background-color: black;
    opacity: 0.7;
    color: white;
}

body{
    background-image: url(../../Imagens/BACKGROUND/Ciclista.jpg);
    background-repeat: no-repeat ;
    background-position: 0%;
    background-size:100%;
    text-align: center;
}
.btn-outline-success{
    color: white;
    border-color: white;
}
