@font-face{
  font-family: [Facon];
  src: url(../../facon/Facon.otf);
}
*{
  box-sizing: border-box;
}
.col-1 {width: 12.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

main { 
  background-color: black;
  opacity: 0.7;
  font-family: Facon;
}
.video{
  background-color: black;
}

 hr{ 
  border: 2px solid #0F25E6;
 }

h2 {
  color: #0F25E6;
  font-family: Facon;
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  border: 1px solid #0F25E6;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 5px;
  background:linear-gradient(180deg, rgba(15, 37, 230, 0.8) 0%, rgba(115, 179, 255, 0.8) 42.19%, rgba(115, 179, 255, 0.8) 67.19%, rgba(15, 37, 230, 0.8) 100%);
}

h3{
  font-family: Facon;
  color: rgba(15, 37, 230, 0.8);
}

body{
  text-align: center;
  background-image: url(../../Imagens/BACKGROUND/Home.jpg);
  background-repeat: no-repeat;
  background-position: 100%;
}
.grade{
  display: flex;
  margin: 3px;
  padding: 5px;
}
.card{
  background-color: blue;
  margin: 3px;
}
.btn{
  background-color: black;
  color: white;
  border-color: white;
}
.card-img-top{
  border: solid 5px blue;
}
.container-fluid{
  font-family: Facon;
  color: white;
  margin: 5px;
}
.bg-gold, .pc-pm{
  background-color: darkgoldenrod;
}
.pc-sp, .pc-pm{
  height: 150px;
  width: 50px;
  padding: 5px;
  margin: 4px;
  border-radius: 10px;
}
.pc-sp{
 background-color: black;
}

footer{
  background-color: black;
  opacity: 0.7;
  height: 70px;
  text-align: center;
  text-underline-position: 50%;
}